@font-face {
    font-family: 'Vazirmatn';
    src: url(./font/Vazirmatn-Medium.ttf);


}

/* اعمال box-sizing برای همه المان‌ها */


*,
*::before,
*::after {
    box-sizing: border-box;
}

/* تنظیمات کلی برای بدنه */
body {
    font-family: 'Vazirmatn', sans-serif;
    background: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    direction: rtl;
}

/* کانتینر اصلی که تمام محتوا رو داخل خودش قرار می‌ده */
.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* تنظیمات برای کارت */
.card {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: right;
}

.card-title {
    text-align: center;
}

/* تنظیمات برای ورودی‌ها */
input {
    width: 100%;
    padding: 10px;
    margin: 6px 0;
    /* فاصله‌ی یکنواخت برای تمام ورودی‌ها */
    border: 1px solid #ccc;
    border-radius: 6px;
}

/* تنظیمات دکمه‌ها */
button {
    width: 100%;
    padding: 10px;
    background: #28a745;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 10px;
    font-family: 'Vazirmatn';

}

/* button:hover {
    background: #218838;
} */

button:active {
    transform: scale(0.95);
    transition: transform 0.1s ease;
}



button#clear-btn {
    background: #dc3545;
    /* رنگ قرمز برای دکمه پاک کردن */
}

button#clear-btn:hover {
    background: #c82333;
}

/* نتیجه محاسبه */
.result {
    margin-top: 12px;
    font-weight: bold;
    

}
.designer-inf{
    margin-top: 60px;
    color: #978d8d;
    text-align: center;
    font-size: 10px;
}